data/tiny-imagenet-200
model/trained_models
model/pruned_models
.DS_Store
.venv
.vscode
wandb
data/__pycache__
model/__pycache__
experiments/__pycache__
.python-version
__pycache__
.pytest_cache
.coverage
mlflow.db
mlruns
outputs